<div class="sidebar-nav-main">
    <div class="sidebar-menu-container" #sideBarMenuContainer name="sideBarMenuContainer">
        <fa-icon class="sidebar-menu-icon" [icon]="'times'" (click)="toggleSideBar(false)" *ngIf="sideBarToggled" size="lg"></fa-icon>
        <fa-icon class="sidebar-menu-icon" [icon]="'bars'" (click)="toggleSideBar(true)" *ngIf="!sideBarToggled" size="lg"></fa-icon>
    </div>
    <div class="sidebar-nav-container" #sideBarNavContainer name="sidebarNavContainer">
        <nav class="sidebar-nav accordion">
            <div *ngFor="let item of navItems" class="sidebar-nav-item" id="{item.id}}" [ngClass]="!item.isCollapsed && item.submenu ? 'selected': ''">
                <div  class="sidebar-nav-item-container">
                    <fa-icon class="sidebar-nav-icon" [icon]="item.iconclass" *ngIf="item.iconclass" size="lg"></fa-icon>
                    <a class="sidebar-nav-link" [text]="item.text" (click)="item.submenu ? item.isCollapsed = !item.isCollapsed : ''" [routerLink]="item.link"  data-toggle="collapse" [attr.data-target]="'#child_' + item.id"></a>
                    <fa-icon class="sidebar-nav-icon float-right" *ngIf="item.submenu" [icon]="'angle-left'" (click)="item.isCollapsed = !item.isCollapsed;" size="lg" [rotate]="item.isCollapsed ? 0 : 270"></fa-icon>
                </div>
                <div id="child_{{item.id}}" class="collapse sidebar-nav-children" [ngbCollapse]="item.isCollapsed">
                    <div class="sidebar-nav-children-item" *ngFor="let child of item.submenu">
                        <fa-icon class="sidebar-nav-icon" [icon]="child.iconclass" *ngIf="child.iconclass" class="sidebar-nav-icon" size="lg"></fa-icon>
                        <a  class="sidebar-nav-link" routerLink="{{child.link}}" [text]="child.text"></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>




