@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

%icon-image {
    width: 100%;
    background-size: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

// Z index variables
$zindex-sidebar: 1080 !default;
$zindex-titlebar: 1090 !default;

//Sizing
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;
$sidebar-base-width: 12rem;
$titlebar-base-height: 2.5rem;

//Colors
$custom-color-oxfordblue: #000431;
$custom-color-royalbluedark: #011D52;
$custom-color-prussianblue: #002D5F;
$custom-color-sapphireblue: #006C9A;
$custom-color-lightcyan: #B5CACA;
$custom-color-shadowblue: #8499b9;
$primary: $custom-color-oxfordblue;
