@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

%icon-image {
    width: 100%;
    background-size: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

// Z index variables
$zindex-sidebar: 1080 !default;
$zindex-titlebar: 1090 !default;

//Sizing
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;
$sidebar-base-width: 200px;
$titlebar-base-height: 40px;

//Colors
$primary: #0A0637;
$custom-color-deepblue: #022140;
$custom-color-lightcyan: #B5CACA;
$custom-color-wedgewood: #4F8098;
$custom-color-glacier: #2F454F;
$custom-color-bluemagenta: #14142f;

// -- Sidenav Dark
$nav-dark-bg: $custom-color-deepblue;
$nav-dark-color: $custom-color-lightcyan;
$nav-dark-heading-color: $white;
$nav-dark-link-color: $white;
$nav-dark-link-active-color: $white;
$nav-dark-icon-color: $custom-color-lightcyan;
$nav-dark-icon-active-color: $white;

// -- Title Bar
$title-dark-bg: $custom-color-lightcyan;