<nav class="sidebar-nav accordion" id="sideBarNavMain">
    <div *ngFor="let item of navItems" class="sidebar-nav-item" id="{item.id}}">
        <span [ngClass]="item.icon" class="sidebar-nav-icon"></span>
        <span class="sidebar-nav-link" (click)="isCollapsed = !isCollapsed; redirectTo(item)" data-toggle="collapse" [attr.data-target]="'#child_' + item.id">
            {{item.text}}
        </span>
        <div id="child_{{item.id}}" class="collapse side-bar-nav-children" [ngbCollapse]="isCollapsed">
            <div *ngFor="let child of item.submenu">
                <span [ngClass]="child.icon" class="sidebar-nav-icon"></span>
                <span  class="sidebar-nav-link" (click)="redirectTo(child.link)">{{child.text}}</span>
            </div>
        </div>
    </div>
</nav>
