<nav class="sidebar-nav accordion" id="sideBarNavMain">
    <div class="sidebar-nav-item selected">
        <span class="sidebar-nav-icon dashboard selected"></span>
        <a class="sidebar-nav-link selected" href="/dashboard">Dashboard</a>
    </div>
    <div class="sidebar-nav-item">
        <span class="sidebar-nav-icon manage"></span>
        <a class="sidebar-nav-link" href="/">Manage</a>
    </div>
    <div class="sidebar-nav-item">
        <span class="sidebar-nav-icon workspace"></span>
        <a class="sidebar-nav-link" href="/">Workspace</a>
    </div>
    <div class="sidebar-nav-item">
        <span class="sidebar-nav-icon masterfile"></span>
        <a class="sidebar-nav-link" href="/">Masterfile</a>
    </div>
    <div class="sidebar-nav-item">
        <span class="sidebar-nav-icon funding"></span>
        <a class="sidebar-nav-link" href="/">Funding</a>
    </div>
    <div class="sidebar-nav-item">
        <span class="sidebar-nav-icon reports"></span>
        <a class="sidebar-nav-link" href="/">Reports</a>
    </div>
</nav>
