@import 'styles/_variables';

.searchbar-container {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1000;

  .searchbar-icon {
    fa-icon {
      color: $custom-color-royalbluedark;
    }
  }
}

@include media-breakpoint-up(sm) {
  .searchbar-input {
    padding-right: 2rem;
    min-width: 18rem;
  }
  .searchbar-icon {
    position: absolute;
    z-index: 1001;
    left: 17rem;
    cursor: pointer;
  }
}

@include media-breakpoint-down(sm) {

  .searchbar-input {
    display: none;
  }

  .searchbar-icon {
    position: relative;
    left: 0;
  }
}