app-sidebar {
    background-color: $custom-color-prussianblue;
}
.sidebar-nav-main {
    
    .sidebar-nav-container {
        padding-top: 1rem;
        min-width: $sidebar-base-width;
        margin-left: -$sidebar-base-width;
        transform: translateX(-$sidebar-base-width);
        transition: all .15s ease-in-out;

        &.toggled {
            margin-left: 0;
            transform: translateX(0);
        }
        .sidebar-nav-icon {
          color: $custom-color-shadowblue;          
          cursor: pointer;
        }

        .sidebar-nav {
            display: flex;
            flex-direction: column;
    
            .sidebar-nav-item {
    
                .sidebar-nav-link {
                    vertical-align: middle;
                    color: $custom-color-shadowblue;          
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                .sidebar-nav-item-container {
                    padding-right: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 2.5rem;
                    position: relative;
                    z-index: 1000;
                    .icon {
                      flex-basis: 2rem;
                      margin-left: .5rem;
                    }

                    .sidebar-nav-link {
                      flex-grow: 1;
                    }
                    &.selected {
                      background-color: $custom-color-royalbluedark;
                    }
                }
            }
        }
    
    
        %collapse-transition {
            display: block !important;
            transition: all .15s ease-in-out;
        }
        .sidebar-nav-children {
            &.collapse, &.collapse.in {
                @extend %collapse-transition;
            }
            &.collapse {
                opacity: 0;
                height: 0;
            }
            &.show {
                padding-bottom: .5rem;
                background-color: $custom-color-royalbluedark;
                opacity: 1;
                height: auto;
                position: relative;
                z-index: 1000;
            }
            .sidebar-nav-children-item {
                padding-left: 3rem;
                padding-bottom: .2rem;
                opacity: 1;
                height: auto;   
                .sidebar-nav-link:before {
                    content: "-";
                    margin-right: .5rem;
                }

                &.selected {
                  background-color: $custom-color-royalbluedark;
                }
            }
            
        }
    }


}


