
%icon-image {
  width: 100%;
  background-size: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}


.sidebar-nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;

    .sidebar-nav-item {
        
        margin-top: 10px;

        .sidebar-nav-link {
            vertical-align: middle;
            color: $custom-color-lightcyan;
            cursor: pointer;
            &.selected {
                color: $white;
                font-weight: bold;
            }
            &:hover {
                text-decoration: underline;
            }
        }

        .sidebar-nav-caret {
          @extend %icon-image;
          background-image: url('../assets/icons/nav/caret.png');
          float: right;
          margin-top: 6px;
          &.selected {
            background-image: url('../assets/icons/nav/caret-selected.png');
          }
        }

        .sidebar-nav-item-container {
          height: 30px;
          padding-left: 5px;
          &.selected {
            background-color: $custom-color-wedgewood;
          }
        }
        
    }

    .sidebar-nav-icon {
        @extend %icon-image;
        margin-right: 10px;

        &.dashboard {
            background-image: url('../assets/icons/nav/dashboard.png');

            &.selected {
                background-image: url('../assets/icons/nav/dashboard-selected.png');
            }
        }
        &.manage {
            background-image: url('../assets/icons/nav/manage.png');

            &.selected {
                background-image: url('../assets/icons/nav/manage-selected.png');
            }
        }
        &.workspace {
            background-image: url('../assets/icons/nav/workspace.png');

            &.selected {
                background-image: url('../assets/icons/nav/workspace-selected.png');
            }
        }
        &.masterfile {
            background-image: url('../assets/icons/nav/masterfile.png');

            &.selected {
                background-image: url('../assets/icons/nav/masterfile-selected.png');
            }
        }
        &.funding {
            background-image: url('../assets/icons/nav/funding.png');

            &.selected {
                background-image: url('../assets/icons/nav/funding-selected.png');
            }
        }
        &.reports {
            background-image: url('../assets/icons/nav/reports.png');

            &.selected {
                background-image: url('../assets/icons/nav/reports-selected.png');
            }
        }
    }
}


.side-bar-nav-children {
    &.show, &.collapse {
        transition: 100s ease;
    }
    .side-bar-nav-children-item {
      margin-top: 10px;
    }
}