<div class="titlebar-container">
    <div class="titlebar-menu-container"> 
        <span class="titlebar-menu-icon"></span>
    </div>
    <div class="titlebar-logo-container"> 
      <a [routerLink]="'/dashboard'">
        <img class="titlebar-logo-icon" [src]="'./assets/icons/nav/logo.png'"/>
      </a>
    </div>
    <div class="titlebar-action-container">
      <div class="search"> 
        <app-search></app-search>
      </div>
      <div class="user-notif">
        <span class="user-notif-icon"></span>
      </div>
      <div class="user-name"><b>JD Manrique</b></div>
      <span class="user-logo"></span>
      <span class="caret"></span>
    </div>
</div>