<div class="titlebar-container" name="titleBarContainer" #titleBarContainer>
    <!-- <div class="titlebar-menu-container" name="titleBarMenuContainer" #titleBarMenuContainer> 
        <span class="titlebar-menu-close-icon" (click)="toggleSideBar(false)" *ngIf="sideBarToggled"></span>
        <span class="titlebar-menu-icon" (click)="toggleSideBar(true)" *ngIf="!sideBarToggled"></span>
    </div> -->
    <div class="titlebar-logo-container"> 
      <a [routerLink]="'/dashboard'">
        <img class="titlebar-logo-icon" [src]="'./assets/icons/nav/logo.png'"/>
      </a>
    </div>
    <div class="titlebar-action-container">
      <app-search></app-search>
      <div class="user-notif">
        <span class="user-notif-icon"></span>
      </div>
      <div class="user-name"><b>JD Manrique</b></div>
      <span class="user-logo"></span>
      <span class="caret"></span>
    </div>
</div>